<div class="bckground">
    <div class="placecard">
        <mat-card>
            <mat-card-title class="title">{{place.name}}</mat-card-title>
            <mat-card-content>
                <div *ngIf="dataAvailable()">
                    <div>
                        <div class="subtitle">Address: </div>
                        <div class="basictext">{{place.address}}</div>
                    </div>

                    <div style="padding-top: 3%;">
                        <div *ngIf="place.isOpen">
                            <p class="openText">Currently opened...</p>
                            <p class="basictext">Closing at {{place.nextChange}}</p>
                        </div>
                        <div *ngIf="!place.isOpen">
                            <p class="closedText">Currently closed...</p>
                            <p class="basictext">Opening at {{place.nextChange}}</p>
                        </div>
                    </div>

                    <div>
                        <div fxLayout="row">
                            <div class="subtitle">Opening hours:</div>
                            <div>
                                <button class="icon-container" mat-icon-button (click)="openDropdown()">
                                    <mat-icon *ngIf="!isDropdownOpen">expand_more</mat-icon>
                                    <mat-icon *ngIf="isDropdownOpen">expand_less</mat-icon>
                                </button>
                            </div>
                        </div>

                        <span *ngIf="isDropdownOpen">
                            <div *ngFor="let dayData of place.openingHours" fxLayout="row" class="workday basictext">
                                <div fxFlex="50%">
                                    <p>{{dayData.days}}: </p>
                                </div>
                                <div fxFlex="50%">
                                    <div *ngFor="let block of dayData.workingBlocks">
                                        {{ block.start }} - {{ block.end }}
                                    </div>

                                    <div *ngIf="dayData.workingBlocks == null">
                                        closed
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>

                <div *ngIf="!dataAvailable()">
                    No data available for place with id: {{placeId}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>