<div class="bckground">
    <div class="placecard">
        <mat-card>
            <mat-card-title class="title">{{place.name}}</mat-card-title>
            <mat-card-content>
                <div *ngIf="dataAvailable()">
                    <div>
                        <div class="subtitle">Address: </div>
                        <div class="basictext">{{place.address}}</div>
                    </div>
                    <div>
                        <div class="subtitle">Opening hours:</div>

                        <div *ngFor="let dayData of place.openingHours" fxLayout="row" class="workday basictext">
                            <div fxFlex="50%">
                                <p>{{dayData.days}}: </p>
                            </div>
                            <div fxFlex="50%">
                                <div *ngFor="let block of dayData.workingBlocks">
                                    {{ block.start }} - {{ block.end }}
                                </div>

                                <div *ngIf="dayData.workingBlocks == null">
                                    closed
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!dataAvailable()">
                    No data available for place with id: {{placeId}}
                </div> 
            </mat-card-content>
        </mat-card>
    </div>
</div>